@tailwind base;
@tailwind components;
@tailwind utilities;


@media(min-width : 1020px){
.bg-hero{
width: 2000px;
height: 300px;
left: 30%;
@apply absolute top-56 rounded-l-full bg-softBlue


}
.bg-tabs{
width: 2000px;
height: 300px;
right: 60%;
@apply absolute top-60 rounded-r-full bg-softBlue


}

}
.ficon:hover{
    filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg) brightness(101%) contrast(96%);
}

/* Hamburger btn */

.hamburger{
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}
.hamburger-top , .hamburger-middle , .hamburger-bottom{
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
    transform: rotate(0deg);
    transition: all 0.5s;
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}
.open{
    transform: rotate(90deg);
    transform: translateY(0px);
    position: fixed;
    top: 50px;
    right: 25px
    ;
}
.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
    background-color: #fff;
}
.open .hamburger-middle{
    display: none;
}
.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px) ;
    background-color: #fff;
}

